.wrapper {
	margin: 0px auto;
	width: 30%;
}

.phone {
	pointer-events: none;
	position: relative;
	z-index: 10;
	width: 100%;
}

figure {
	position: relative;
	display: block;
	overflow: hidden;
}



#jelly {
	position: absolute;
	width: 100%;
	top: 0;
	right: 0;
}

a {

	font-size: 1.2vw;
	text-decoration: none;
	color: white;
}

a:hover {
	color: grey;
}

.posfix{
	padding-top: -100px;
}

.profile {
	border-radius: 50%;
	z-index: 8;
	position: absolute;
	background-image: url("profile.svg");
	background-size: cover;
	background-position: 40%;
	background-repeat: no-repeat;
	top:20%;
	left:-20%;
	width: 30%;
	height: 15%;
	background-color: white;

}

.list {
	z-index: 9;
	position: absolute;
	top: 40%;
	left: -20%;
	color: white;
	font-family: 'Roboto', sans-serif;
	
}

li {
	padding-bottom: 40%;
	list-style-type: none;
	

}
#menu {
	width: 9%;
    height: 5%;
    position: absolute;
    top: 14%;
    right: 7.3%;
    z-index: 3;
    cursor: pointer;
}

#back {
	display: none;
	width: 9%;
    height: 5%;
    position: absolute;
    top: 14%;
    right: 22.3%;
    z-index: 3;
    cursor: pointer;
}